In [142]:
import pandas            as pd
import numpy             as np
import matplotlib
import matplotlib.pyplot as plt
import sys #only needed to determine Python version number

In [143]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
Pandas version 0.18.1
Matplotlib version 1.5.3

In [144]:
filepath = r'./NYPD_Complaint_Data_Historic.csv'
df       = pd.read_csv(filepath, dtype = {'PREM_TYP_DESC':str, 'PARKS_NM':str})

In [145]:
df.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
JURIS_DESC            object
BORO_NM               object
ADDR_PCT_CD          float64
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
PARKS_NM              object
HADEVELOPT            object
X_COORD_CD           float64
Y_COORD_CD           float64
Latitude             float64
Longitude            float64
Lat_Lon               object
dtype: object

## Data Preprocessing

In [146]:
# del df['CMPLNT_NUM']
del df['CMPLNT_TO_DT']
del df['CMPLNT_TO_TM']
del df['RPT_DT']
# extract 2013 2014 2015 data
df = df.loc[df['CMPLNT_FR_DT'].fillna('NaN').str.contains('(2013|2014|2015)')]
df.head(10)

/Users/xiaohangsu/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,JURIS_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,N.Y. POLICE DEPT,...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,FELONY,N.Y. POLICE DEPT,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",COMPLETED,FELONY,N.Y. POLICE DEPT,...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,N.Y. POLICE DEPT,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,N.Y. POLICE DEPT,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"
5,365661343,12/31/2015,23:18:00,106,FELONY ASSAULT,109.0,"ASSAULT 2,1,UNCLASSIFIED",ATTEMPTED,FELONY,N.Y. POLICE DEPT,...,71.0,FRONT OF,DRUG STORE,NaN,NaN,996149.0,181562.0,40.665023,-73.957111,"(40.665022689, -73.957110763)"
6,608231454,12/31/2015,23:15:00,235,DANGEROUS DRUGS,511.0,"CONTROLLED SUBSTANCE, POSSESSI",COMPLETED,MISDEMEANOR,N.Y. POLICE DEPT,...,7.0,OPPOSITE OF,STREET,NaN,NaN,987373.0,201662.0,40.720200,-73.988735,"(40.720199996, -73.988735082)"
7,265023856,12/31/2015,23:15:00,118,DANGEROUS WEAPONS,792.0,WEAPONS POSSESSION 1 & 2,COMPLETED,FELONY,N.Y. POLICE DEPT,...,46.0,FRONT OF,STREET,NaN,NaN,1009041.0,247401.0,40.845707,-73.910398,"(40.845707148, -73.910398033)"
8,989238731,12/31/2015,23:15:00,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,N.Y. POLICE DEPT,...,48.0,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1014154.0,251416.0,40.856711,-73.891900,"(40.856711291, -73.891899956)"
9,415095955,12/31/2015,23:10:00,341,PETIT LARCENY,338.0,"LARCENY,PETIT FROM BUILDING,UN",COMPLETED,MISDEMEANOR,N.Y. POLICE DEPT,...,19.0,INSIDE,DRUG STORE,NaN,NaN,994327.0,218211.0,40.765618,-73.963623,"(40.765617688, -73.96362342)"

### Total Distinct Crime

In [147]:
df['BORO_NM'].value_counts()

BROOKLYN         438363
MANHATTAN        341419
BRONX            313028
QUEENS           293976
STATEN ISLAND     67037
Name: BORO_NM, dtype: int64

### Time

In [148]:
df['CMPLNT_FR_DT'].value_counts()

01/01/2014    2211
01/01/2013    2030
11/01/2013    1818
05/01/2015    1817
08/01/2014    1811
04/01/2015    1791
01/01/2015    1771
07/01/2014    1720
10/04/2013    1710
05/01/2013    1706
03/01/2013    1699
07/01/2015    1698
10/01/2013    1694
05/01/2014    1692
10/01/2014    1690
09/20/2013    1679
04/01/2014    1678
02/01/2013    1675
10/17/2014    1674
08/01/2015    1658
09/01/2014    1656
03/01/2014    1654
09/01/2013    1640
09/20/2014    1633
02/01/2014    1631
09/01/2015    1626
03/15/2014    1624
05/15/2015    1614
06/01/2013    1614
11/15/2013    1612
              ...
02/09/2015     985
12/30/2014     983
01/22/2014     983
02/23/2015     982
12/29/2015     982
11/28/2013     976
12/26/2014     974
01/18/2015     973
01/03/2014     971
12/30/2015     968
12/29/2014     962
02/16/2015     959
01/07/2015     958
12/24/2014     949
02/03/2015     948
01/06/2015     945
12/28/2014     929
12/31/2014     926
11/26/2015     920
01/26/2015     919
02/09/2013     915
12/25/2015     882
02/02/2015     880
02/13/2014     878
01/04/2015     877
12/25/2013     872
12/25/2014     842
11/27/2014     821
01/27/2015     803
12/31/2015     693
Name: CMPLNT_FR_DT, dtype: int64